aspose-words
chromadb==0.5.5
httptools
markdownify==0.13.1
matplotlib==3.9.2
neo4j==5.24.0
neo4jrestclient==2.1.1
pip==24.2
prettytable==3.11.0
py2neo==2021.2.4
pyautogen
pypdf==4.3.1
sentence-transformers==3.0.1
watchfiles==0.24.0
websockets==13.0.1
ipykernel